* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btns {
  display: flex;
  gap: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: blue;
  color: white;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.5;
}
